@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
}

header {
  background-color: #193738;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

#logoAndUserBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5%;
}

#logoAndUserBar img {
  width: 100px;
  margin-left: 2%;
}

#logoAndUserBar a {
  background-color: ghostwhite;
  color: #42464f;
  border-radius: 15px;
  width: 70px;
  font-size: 0.85em;
  text-align: center;
  text-decoration: none;
  margin-top: 25px;
  margin-right: 2%;
  padding: 0.5% 2%;
  transition: 0.3s width ease-in-out;
}

#logoAndUserBar a:hover {
  color: rgb(182, 69, 69);
  width: 85px;
}

#linksBar {
  background-color: ghostwhite;
  display: flex;
  justify-content: space-evenly;
}

#linksBar a {
  background-color: #036B52;
  color: white;
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  text-decoration: none;
  width: 33.25%;
  padding: 1%;
  transition-duration: 0.4s;
}

#linksBar a:hover {
  background-color: #e3e3e6;
  color: #2FC18C;
  font-size: 1.2em;
}

#loadingContainer {
  background-color: #e3e3e6;
  border-radius: 7px;
  width: 15%;
  text-align: center;
  font-size: 0.9em;
  margin: 0.8% 42.5%;
  padding: 0.3%;
}
